@font-face {
    font-family: 'Space';
    src: url('./assets/font/SpaceMono-Bold.ttf')
  }
  
  @font-face {
    font-family: 'regular';
    src: url('./assets/font/SpaceMono-Regular.ttf')
  }

  @font-face {
    font-family: 'Italic';
    src: url('./assets/font/SpaceMono-BoldItalic.ttf')
  }

  .inputNumber::placeholder {
    color: hsl(185, 41%, 84%);
    font-family: 'regular';
  }
  .inputNumber{
    border:inherit;
    border-radius: 5px;
  }
  .inputNumber:focus {
    border: 2px solid hsl(172, 67%, 45%);
  }

  .card {
    background-color: white;
  }

  .customInput {
    border: inherit;
    border-radius: 5px;
    height: 56px;
    width: 100%;
    padding: 10px;
    font-size: 24px;
    font-family: 'Space';
    text-align: right;
    background-color: hsl(189, 41%, 97%);
    border-color: hsl(172, 67%, 45%);
    outline: none;
    margin-top: 10px;
  }
  
  .customInput:focus {
    border: 2px solid hsl(172, 67%, 45%);
  }

.tipButton {
    background-color: red;
}

.tipButton:hover {
    background-color: hsl(172, 67%, 45%);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media (max-width: 600px) {
  input {
    width: 100%;
  }
}

/* Estilos para el tamaño del input en pantallas medianas */
@media (min-width: 601px) and (max-width: 960px) {
  input {
    width: 50%;
  }
}